  {% extends "partials/login template.html" %}
{% block title %} Login Page {% endblock %}

{% block content %}
{% from "partials/_formHelper.html" import render_field %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<form method="POST">
    <h2>Singtopia</h2>
     <br>
     <h4>Account Recovery</h4>

     <div class="form-group">
        {{ render_field(form.security_qn1, class="form-control") }}
     </div>
     <div class="form-group">
         {{ render_field(form.security_qn2, class="form-control") }}
     </div>
     <div class="form-group">
         {{ render_field(form.security_qn3, class="form-control") }}
     </div>
    <br>
    <br>
     <div class="form-group">
         <div class="row">
             <div class="col">
                 <p id="create"><a href="/login">Cancel</a></p>
             </div>
             <div class="col">
                 <input type="submit" value="Login" id="login" class="btn btn-primary">
             </div>
         </div>
     </div>

</form>

{% endblock %}
