{% extends "partials/customer_sidenavbar.html" %}
{% block title %} Profile {% endblock %}

{% block content %}
<style>
.col{
border-style:solid;
margin-left:5%;
margin-top:5%;
margin-bottom:2%;
border-radius:20px;
padding-top:1%;
padding-bottom:2%;
padding-right:10%;
}
h3{
text-align:center;
padding-top:5%;
padding-left:10%;
}
#active{
color:black;
}
#sidenav> :nth-child(4){
background-color:white;
color:black;
}

.col:hover{
  box-shadow: 5px 10px 8px #888888;
  transform: scale(1.1);
}
</style>
<img src="{{ profile_pic }}" class="rounded-pill" width="150" height="150" style="margin-left:47%;margin-top:5%;">
<h3>Welcome, {{details}}</h3>

<div class="row" style="margin-left:5%;">

    <div class="col">
        <a href="/personal" style="text-decoration:none;color:black;">

        <div class="row">
            <div class="col-8 col-md-10">
                <h4>Personal Information</h4>
                <p>See the data in your Singtopia Account and choose what changes you like to make </p>
            </div>
            <div class="col-2 col-md-2">
                <h1 style="margin-top:10px"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
</svg></h1>
            </div>
        </div>
        </a>
    </div>


    <div class="col">
        <a href="/purchaseHistory" style="text-decoration:none;color:black;">
        <div class="row">
            <div class="col-8 col-md-10">
                <h4>My Purchase</h4>
                <p>See all the purchases you have made and rate the product you have purchase</p>
            </div>
            <div class="col-2 col-md-2">
                <h1 style="margin-top:10px"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
  <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
</svg></h1>
            </div>
        </div>
        </a>
    </div>


</div>

<div class="row" style="margin-left:5%;">

    <div class="col">
        <a href="/web_rewards" style="text-decoration:none;color:black;">
        <div class="row">
            <div class="col-8 col-md-10">
                <h4>My Rewards</h4>
                <p>See how your points are accumulated and redeem your rewards and spend it</p>
            </div>
                <div class="col-2 col-md-2">
                <h1 style="margin-top:10px"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-ticket-perforated" viewBox="0 0 16 16">
  <path d="M4 4.85v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Z"/>
  <path d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3h-13ZM1 4.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1.05a2.5 2.5 0 0 0 0 4.9v1.05a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-1.05a2.5 2.5 0 0 0 0-4.9V4.5Z"/>
</svg></h1>
            </div>
        </div>
        </a>
    </div>

    <div class="col">
        <a href="/favourites" style="text-decoration:none;color:black;">
        <div class="row">
            <div class="col-8 col-md-10">
                <h4>My Favourite</h4>
                <p>See all items in your wishlist and checkout your items that you loved</p>
            </div>
                <div class="col-2 col-md-2">
                <h1 style="margin-top:10px"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
</svg></h1>
            </div>
        </div>
        </a>
    </div>

</div>

{% endblock %}
