<!DOCTYPE html>
{% extends "partials/admin_sidenavbar.html" %}
{% block title %} Web Rewards data {% endblock %}

{% block content %}
<style>
#webcam, #retrievecamvou {
color: white;
text-decoration;
font-weight:bold;
}
</style>
<br><br>

  <div style="margin-left:3%; font-size: 10px;">
    <a href="{{ url_for('create_campaign_vouchers') }}" style="color:black; text-decoration: underline;"><button class="btn btn-success btn-sm">Create +</button></a>

    &nbsp&nbsp&nbsp


    <button type="submit" onclick="render_delete_camp_voucher()" class="btn btn-danger btn-sm" style="background:#FF7F7F;">Delete
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
    </svg></button>


    &nbsp&nbsp&nbsp
    Total campaigns vouchers: <span id="campaign-count-vouchers">{{ count_camp_vchers }}</span>

  </div>
  <br>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th>voucher id:</th>
          <th>discount:</th>
          <th>minimum spendage:</th>
          <th>Duration:</th>
          <th>Campaign origin:</th>
        </tr>

      {% for campaign_voucher_things in list_campaign_vouchers %}
        <tr id="{{ campaign_voucher_things.get_voucher_id() }}">
          <td class="checkbox"><input type="checkbox" value="{{ campaign_voucher_things.get_voucher_id() }}"></td>
          <td>{{ campaign_voucher_things.get_voucher_id() }}</td>
          {% if campaign_voucher_things.get_discount_amt() >= 1 %}
            <td>${{ campaign_voucher_things.get_discount_amt() }}</td>
          {% elif campaign_voucher_things.get_discount_amt() <= 1 %}
            <td>{{ campaign_voucher_things.get_discount_amt() * 100 }}%</td>
          {% endif %}
          <td>{{ campaign_voucher_things.get_minimum_spendage() }}</td>
          <td>{{ campaign_table[campaign_voucher_things.get_campaign_origin()].get_start_date() }} - {{ campaign_table[campaign_voucher_things.get_campaign_origin()].get_end_date() }}</td>

          {% if campaign_table[campaign_voucher_things.get_campaign_origin()].get_end_date() > date %}
            <td style="color: green">{{ campaign_table[campaign_voucher_things.get_campaign_origin()].get_campaign_name() }}</td>
          {% else %}
            <td style="color: red">{{ campaign_table[campaign_voucher_things.get_campaign_origin()].get_campaign_name() }}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>



  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script>
    function render_delete_camp_voucher() {
        var campaign_vouchers_id = [];
        $(':checkbox:checked').each(function(i){
          campaign_vouchers_id[i] = $(this).val()
          })

        if(campaign_vouchers_id.length == 0){
          alert("Select items to delete")
        }else{
          console.log(campaign_vouchers_id)
          $.ajax({
            url : '/admin/delete_campaign_vouchers',
            method : "POST",
            data : JSON.stringify(campaign_vouchers_id),
            contentType: "application/json",
            dataType: "json",
            success: function(response){
              console.log('remove')
              for(var i of campaign_vouchers_id){
                $('#' + i).remove();
              }
              $('#campaign-count-vouchers').html(parseInt($('#campaign-count-vouchers').html()) - campaign_vouchers_id.length)
            }
          })
         }

    }


  document.getElementById("submenu3").className += " show";

  </script>
{% endblock %}


