{% extends 'partials/_merchant_side_navbar.html' %}

{% block title %}Merchant My Income{% endblock %}
{%block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/merchant_finances.css') }}">
{%endblock%}
{% block navigation %}
<a class="navbar-brand" href="/merchant_myincome"><span style="font-weight:bold;color:#267CFC; font-size:2vw;">| My Income</span></a>
{% endblock %}
{%block content%}
<style>
    #my_income, #finance{
color:#B78BFF;
font-weight:bold;
}

</style>

<div class="merchant_finances_block">
  <div class="m-finances-sec1">
    <ul>
      <li><img src="{{url_for('static', filename='image/finance_icon.png')}}" style="display:inline; width:5vw;">
        <h4 style="display:inline; font-weight:bold;">Finances</h4></li>
      <li><a href="#">My Income</a></li>
      <li><a href="/merchant_mywallet">My Wallet</a></li>
      <li><a href="#">Bank Accounts</a></li>
      <li><a href="#">Payment Settings</a></li>
</ul>
  </div>
<!--  <div class="m-finances-sec1" style="margin-left:15%;">-->
<!--    <ul>-->
<!--    <li style="text-decoration:underline; font-weight:400;"><a>All Income</a></li>-->
<!--    <li style="text-decoration:underline; font-weight:400;"><a>Sales Income</a></li>-->
<!--    <li style="text-decoration:underline; font-weight:400;"><a>Sponsorship Income</a></li>-->
<!--      <li style="text-decoration:underline; font-weight:400;"><a>Other</a></li>-->
<!--    </ul>-->
<!--  </div>-->
  {%for category in category_dict%}
  {%if category == "Food & Beverage"%}
   <div class="income_block">
    <h3 style="text-align:center;">Sales Income <span style="font-size:1.25vw;">[{{category}}]</span></h3>
    <br>
    <br>
    <h4>Products Sales: <span>$ {{category_dict.get(category).get_sales()}}</span></h4>
    <br>
    <h4>Products Sold: <span>{{category_dict.get(category).get_quantity()}}</span></h4>
  </div>
  {%else%}
  <div class="income_block">
    <h3 style="text-align:center;">Sales Income [{{category}}]</h3>
    <br>
    <br>
    <h4>Products Sales: <span>$ {{category_dict.get(category).get_sales()}}</span></h4>
    <br>
    <h4>Products Sold: <span>{{category_dict.get(category).get_quantity()}}</span></h4>
  </div>
  {%endif%}
  {%endfor%}
</div>
<script>
  document.getElementById("submenu4").className += " show";
</script>
{%endblock%}
