.merchant_orders_block{
position:absolute;
right:0;
top:13%;
width:80%;
background-color:white
height:70vw;
}

.m-orders-sec1{
margin-bottom:5%;
}
.m-orders-sec1 img{
width:3.90625vw;
}

.m-orders-sec1 ul{
list-style-type: none;
}
.m-orders-sec1 li{
display:inline;
margin-right:3vw;
font-size:1.5vw;
color:black;
font-weight:500;
}

.page_header{
border:1px solid black;
border-radius:40px;
width:90%;
padding:15px;
}

.page_header_e{
display:inline-block;
margin-left:0.78vw;
}

#m-myorders-sec2{
margin-top:10%;
}
.m-myorders-sec2-e{
border:1px solid black;
display:inline-block;
width:31%;
margin-left:10%;
text-align:center;

padding:10px;
}
.m-myorders-sec2-e p{
font-size:0.8vw;
}
#note{
font-size:0.65vw;
font-weight:bold;
}
.m-myorders-sec2-e a{
color:black;
font-weight:500;
font-size:1.2vw;
text-decoration:underline;
}

.m-myorders-sec2-e a:hover{
color:#757575;
font-weight:500;
}
