 {% extends "partials/login template.html" %}
{% block title %} Forget Password {% endblock %}

{% block content %}
{% from "partials/_formHelper.html" import render_field %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<form method="POST">
    <h2>Singtopia</h2>
     <br>
     <h4>Forget Password</h4>
     <p>Use your Singtopia Account</p>
     <div class="form-group">
        {{ render_field(form.token, class="form-control") }}
     </div>
    <br>
    <br>
     <div class="form-group">
         <div class="row">
             <div class="col">
                 <p id="create"><a href="/login">Cancel</a></p>
             </div>
             <div class="col">
                 <input type="submit" value="Login" id="login" class="btn btn-primary" onclick = "notice()">
             </div>
         </div>
     </div>

</form>

{% endblock %}
