<!DOCTYPE html>
{% extends "partials/admin_sidenavbar.html" %}
{% block title %}Create campaign vouchers{% endblock %}

{% block content %}
{% from "partials/_formHelper.html" import render_field %}
<style>
#webcam, #createcamfix {
color: white;
text-decoration;
font-weight:bold;
}
</style>
<div class="top_box_2">
  <p style="font-family: Montserrat; line-height: 140px; font-size: 25px;">Website Vouchers(Fixed amount)</p>
</div>


  <form method="POST" action="{{ url_for('create_campaign_vouchers') }}">
    <br><br>
    <div style="float: left; margin-left: 8.5%; width:80%">
    <label style="font-weight:bold">Discount Price:</label>
    <br>
    {{ render_field(form.discount_amt, class="form-control", value=0, min=1, max=900) }}
    <br>


    <label style="font-weight:bold">Minimum Spendage:</label>
    <br>
    {{ render_field(form.minimum_spendage, class="form-control", value=0, min=1, max=10000) }}

      <br>

    <label style="font-weight:bold">Campaign origin:</label>
    <br><br>
    <select name="campaign_origin" id="campaign_origin" class="form-control" required>
        <option value=""></option>
        {% for campaign in list_campaign %}
          {% if campaign.get_end_date() > date %}
            <option value="{{campaign.get_campaign_id()}}">{{campaign.get_campaign_name()}}</option>
          {% endif %}
        {% endfor %}
    </select>
    <br><br>




    </div><input type="submit" value="Submit" class="camp_btn">
    <br><br><br><br>
  </form>

<script>
  document.getElementById("submenu3").className += " show";
</script>
{% endblock %}

