{% extends "partials/edit_template.html" %}
{% block title %} Add Supplier {% endblock %}

{% block content %}
{% from "partials/_formHelper.html" import render_field %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<style>
form{
text-align:left;
padding-left:2%;
padding-right:2%;
margin-bottom:5%;
margin-left:20%;
margin-right:40%;}

</style>
<h2 style="margin-left:20%;"> New Supplier </h2>
<hr>
<br>

<form action="" method="post">
    <p style="font-weight:bold;"> Add Supplier</p>
    <div class="row">
        <div class="col">
            {{ render_field(form.company, class="form-control") }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ render_field(form.product, class="form-control") }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ render_field(form.email, class="form-control") }}
        </div>
        <div class="col">
            {{ render_field(form.phone, class="form-control") }}
        </div>
    </div>
<br>
       <div class="row">
             <div class="col">
         <p id="create"><a href="/supplier">Cancel</a></p>
             </div>
             <div class="col">
         <input type="submit" value="Save" id="login" class="btn btn-primary"/>
             </div>
     </div>
</form>
{% endblock %}
