{% extends "partials/_merchant_side_navbar.html" %}
{% block title %}Merchant Vouchers{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/merchant_vouchers.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/_merchant_navbar.css') }}">
{% endblock %}
{% block navigation %}
<span>
<a class="navbar-brand" href="/marketing_strategy"><span style="font-weight:bold;">| Marketing Strategy</span></a>
<a class="navbar-brand" href="/merchant_shopvouchers"><span style="font-weight:bold;">| Vouchers</span></a>
<a class="navbar-brand" href="/merchant_create_fixed_amount_voucher"><span style="font-weight:bold;color:#267CFC;">| Create Voucher</span></a></span>
{% endblock %}
{% block content %}
{% from "partials/_formHelper.html" import render_field %}
{% if warningDate == 1 %}
    <div class="alert" style="">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <p style="font-weight:bold;font-size:20px;">{{ warningmessage }}</p>
        </div>
<h1 id="warningmessagetitle" style="font-weight:bold;margin-bottom:20px;">Create Shop Voucher - Fixed Amount </h1>
{% else %}
<h1 style="font-weight:bold;margin-bottom:20px;margin-top:20px;">Create Shop Voucher - Fixed Amount </h1>
{% endif %}
<form method="POST" action="{{url_for('create_merchant_shop_voucher_fixed_amount')}}" style="background-color:white;">
  <div class="form-group" style="margin-top:30px; width:80%;display:inline;">
    <label style="font-weight:bold;margin-top:20px;">Voucher Name:</label>
      {{ render_field(form.name) }}
  </div>
  <div class="form-group">
    <label style="font-weight:bold;float:left;">Start of Claiming Period:</label>
    {{ render_field(form.startingDate, class=" datepicker") }}
    <label style="font-weight:bold;margin-left:100px;">End of Claiming Period:</label>
    {{ render_field(form.endingDate, class=" datepicker") }}
  </div>

  <div class="form-group">
     <label style="font-weight:bold;">Minimum Amount Spent: $</label>
    {{ render_field(form.minSpend, class="") }}
  </div>
<br>
    <div class="form-group">
     <label style="font-weight:bold;">Usage Quantity:</label>
    {{ render_field(form.usageQuantity, class="") }}
  </div>
    <br>
    <div class="form-group">
     <label style="font-weight:bold;">Fixed Amount Off: $</label>
    {{ render_field(form.fixedAmtOff, class="") }}
  </div>
    <br>
    <div style="background-color:#f2f2f2;padding-top:20px;">
     <input style="font-size:25px; font-weight:bold;" type="submit" value="Submit" class="btn btn-primary"/>
        </div>
</form>

<style>
    body{
      background-color:#f2f2f2;
      }

      label{
      margin-left:20px;
      }

      /* The alert message box */
        .alert {
          padding: 20px;
          background-color: #f44336; /* Red */
          color: white;
          margin-bottom: 15px;
        }

        /* The close button */
        .closebtn {
          margin-left: 15px;
          color: white;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.3s;
        }

        /* When moving the mouse over the close button */
        .closebtn:hover {
          color: black;
        }

</style>
<script>
    function pushdown(){
    title=document.getElementById("warningmessagetitle");
    title.style.marginTop="90px";
    }
</script>
{% endblock %}
