{% extends "layouts/base.html" %}
{% block title %} About us {% endblock %}

{% block content %}

<div style="width:100%; background-color:#D3D3D3; color:black; text-align:center;">
    <br><br><br>
<h1 style="text-align:center; text-decoration:underline 1px; text-underline-offset: 10px; ">Singtopia</h1>
    <p></p>
<div style="font-size:22px; width:50%; margin:auto; font-family: monospace;">Founded in mid 2021, we the founders, Aik Leong, Jia Jun, aaralynn and kai kai were inspired by the fast growing digital
economy in the current period along with the pandemic to create something to help companies who are suffering without digitization.
Thus Singtopia was born. A website to target various SMEs to conduct an online business to catch up with digitization and
help bring potential to the various SMEs to become a big business and provide many different kinds of products for our
well valued customers which is you. In the process, our business has gain many partnerships and are planning to set up headquarters
in other countries to expand the business.
    <br><br><br><br>
</div></div>
<br><br>

<br><br>
<h1 style="text-align:center; text-decoration:underline 1px; text-underline-offset: 10px;">Mission statement</h1>
<br>
<div style="text-align:center; font-size:40px; font-weight:semi-bold; font-family:serif">"Do what you hate, use money to do what you love"</div>
<br><br><br><br>
<hr style="width:80%; margin-left:10%">
<br><br><br>
<h1 style="text-align:center; text-decoration:underline 1px; text-underline-offset: 10px;">Our Mission</h1>
<br><br>
<div style="width:100%">
    <div style="width:30%; float:left; margin-left:18%; text-align:center; font-size:18px">
        <span style="font-size:25px; font-weight:bold; text-align:center">What we do</span>
        <br><p></p>
        <span>We help startups, major companies and Small Medium Enterprise to provide another platform for them to sell
        to consumers, interested individuals can also sell products as long as they have an account. Startups who
        want to have continuous business can also contact our recommended suppliers</span>
    </div>

    <div style="width:30%; margin-left:3%; float:left; text-align:center; font-size:18px">
        <span style="font-size:25px; font-weight:bold; text-align:center">Core Values</span>
        <p></p>
        <span style="text-decoration:underline 1px; text-underline-offset: 4px;">Integrity</span>
        <br>
        Honesty is the best policy, we will always be honest in whatever we publicise and do to prevent misconceptions
        with consumers and partners
        <br><br>
        <span style="text-decoration:underline 1px; text-underline-offset: 4px;">Fairness</span>
        <br>
        Treating everyone equally as we all deserve and expect,
        we are always fair in whatever we do and do not conduct bias acts against our consumers and partners
        <br><br>
        <span style="text-decoration:underline 1px; text-underline-offset: 4px;">Accountability</span>
        <br>
        Any forbidden acts or mistakes condone by company's employees or company, actions will be taken immediately and seriously
        <br><br>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}

