{% extends "layouts/base.html" %}
{% block title %} Home Page {% endblock %}

{% block content %}
<style>

#popup {
  position: sticky;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left:2%;
  border:none;
  border-radius:50%;
  height:70px ;
  background-color:black;
  color:white;
  float:left;
  z-index:9

}


#popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -40px;
}


#popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;

}


#popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 0.5s;
}


@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


</style>

<ul class="categories_top">
    <li class="categories_display"><a href="/categories/Clothing" style="color:black">Clothing</a></li>
    <li class="categories_display"><a href="/categories/Food&Beverage" style="color:black">Food & Beverages</a></li>
    <li class="categories_display"><a href="/categories/Accessories" style="color:black">Accessories</a></li>
    <li class="categories_display"><a href="/categories/Electronics" style="color:black">Electronics</a></li>
    <li class="categories_display"><a href="/categories/Shoes" style="color:black">Shoes</a></li>
    <li class="categories_display"><a href="/categories/Home&Living" style="color:black">Home & Living</a></li>
    <li class="categories_display"><a href="/categories/Health&Wellness" style="color:black">Health & Wellness</a></li>
    <li class="categories_display"><a href="/categories/Sports&Outdoors" style="color:black">Sports & Outdoors</a></li>
    <li class="categories_display"><a href="/categories/PetNecessities" style="color:black">Pet Necessities</a></li>
</ul>
{% if log == "1" %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Login Successful</strong> Enjoy Shopping!.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

{% elif log == "2" %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Logout Successful</strong> See You Again Next Time!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

{% else %}

{% endif %}

<br><br><br><br>
<div class="container-xxl">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        {% for product in all_product %}

        {% if product.get_quantity() > 0 %}

        <div class="col-2.5">
            <div class="p-3 border bg-light">
                <a href="{{ url_for('show_individual_product',productID=product.get_product_id()) }}">
                <img src="{{ product.get_image() }}" width=100% height=200 style="border: solid 0.5px grey"></a>
                <div style=" width:100%; background-color:white; text-align:center;">
                    <span style="font-size:12px">{{ product.get_product_name() }}</span>
                    <br><br>
                    <span style="font-size:15px; color:#6A45FF">${{ product.get_product_price() }}</span>
                </div>

            </div>
        </div>

        {% endif %}


        {% endfor %}
    </div>
</div>

<button id="popup" class="" onclick="myFunction()"> Get Help
    <span class="popuptext" id="myPopup"><iframe width="350" height="370" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/429e4b7c-f5c6-4562-981e-add491ba486c"></iframe></span>
</button>


<script>
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>
{% endblock %}
